<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap/2.3.2/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- <link href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/1.4.0/bootstrap.css" rel="stylesheet">-->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="widgets">

        <div class="widget card center">
          <img src="{{ site.author.gravatar_link }}" class="bio-photo" alt="{{ site.author.name }}" width="100" height="100">
          <h4>{{ site.author.name }}</h4>
          <p>{{ site.author.description }}</p>
          <p style="text-indent:0;"><a href="{{ site.author.google_plus }}" target="_blank"><i class="icon-google-plus"></i> Google+</a></p>          
          <p style="text-indent:0;"><a href="http://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="icon-twitter"></i> Twitter</a></p>
          <p style="text-indent:0;"><a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="icon-github"></i> Github</a></p>
        </div>
        <div class="widget card">
          <h4>Categories</h4>
          <ul class="tag_box inline">
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
          </ul>
        </div>
        <div class="widget card">
          <h4>Tags</h4>
          <ul class="tag_box inline">
            {% assign tags_list = site.tags %}  
            {% include JB/tags_list %}
          </ul>
        </div>
      </div>

      <div class="content">
        {{ content }}
      </div>

      <footer class="center">
        <p>&copy; {{ site.author.name }} 2013 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /main -->

    {% include JB/analytics %}
  </body>
</html>
